html, body {
    /* Nollataan oletusmarginaalit ja -täytteet */
    margin: 0;
    padding: 0;
    
    /* Varmistetaan, että sivu täyttää koko korkeuden */
    height: 100%;
    
    /* Asetetaan taustaväriksi pyydetty harmaa */
    background-color: rgb(50, 50, 50);
}
